* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.containerT {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 100%;
}

.buttons {
    display: flex;
    width: 100%;
}

.buttonsCol {
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    margin: 30px;
}

.btn {
    text-decoration: none;
    padding: 20px 40px;
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    margin: 10px;
    background: #1b8a19;
    color: #fff;
    border-radius: 10px;
    width: 25%;
    flex-grow: 1 1 100px;
}

.sml-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
	align-items: center;
}

.sml-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    background: #1b8a19;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    flex-grow: 1 1 100px;
}

.btnT {
    text-decoration: none;
    padding: 20px 40px;
    font-size: 1rem;
    text-align: center;
    position: relative;
    margin: 10px;
    background: #1b8a19;
    color: #fff;
    border-radius: 10px;
    width: 100%;
}

#orderList  {
    height: 300px;
    width: 100%;
    background-color: #fff;
    color: black;
    border: 4px solid black;
    padding: 15px;
}

#price {
    text-align: center;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 80%;
	width: 80%;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
    overflow-y: scroll;
}

.input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

#lsContent {
    white-space: pre-line;
}

.coffe-con {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-direction: row;
}

.coffe-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.c-btn {
    text-decoration: none;
    padding: 7px 15px;
    font-size: 1rem;
    text-align: center;
    margin: 5px;
    background: #fff;
    color: black;
    border-radius: 10px;
    width: 100%;
}